.apply_now {
  background-color: #CBD0D6;
  color: #8B0000;
  @include media-breakpoint-down(xs) {
    padding-top: 20px;
  }
  &__container {
    @include media-breakpoint-down(xs) {
      margin: 0px;

    }
    &__img {
      padding-right: 0;
      margin-right: -43px;
      @include media-breakpoint-down(md) {
        margin-right: 0px;
        text-align: center;
      }
      @include media-breakpoint-down(xs) {
        padding-left: 0;

      }
      img {
        margin-bottom: 4px;
        margin-top: 5px;
        @include media-breakpoint-down(md) {
          margin-bottom: 0px;
          margin-left: -48px;
        }
        @include media-breakpoint-down(xs) {
          width: 240px;
          height: 198px;
          object-fit: cover;
        }
      }
    }

    &__msg {
      padding-left: 0;
      @include media-breakpoint-down(md) {
        order: -1;
      }
      &__question {
        h5 {
          font-size: 2.5rem;
          margin-bottom: -10px;
          @include media-breakpoint-down(xs) {
            margin-bottom: -1px;
            letter-spacing: 1.8px;
            font-size: 24px;
          }
          &:last-of-type {
            margin-bottom: 10px;
          }
        }
        .ready {
          font-weight: 700;
          color: #4B121B;

        }
        .action-word {
          font-weight: bold;
        }

        &__post, &__final {
          margin-left: 147px;
        }
        &__post {
          @include media-breakpoint-down(xs) {
            margin-left: 64px;
          }
        }
        &__final {
          @include media-breakpoint-down(xs) {
            margin-left: 33px;
          }
        }
      }

      &__button {
        margin-left: 147px;
        @include media-breakpoint-down(md) {
          text-align: center;
          margin-left: 0;
          width: 100%;
          margin-bottom: 20px;
        }
        button {
          height: 42px;
          width: 160px;
          background-color: rgba(75, 18, 27, 1);
          color: white;
          border-radius: 0px;
          @include media-breakpoint-down(sm) {
            margin-bottom: 36px;
            width: 200px;
          }
          &:hover {
            background-color: #810304;
            color:white;
          }

          @include media-breakpoint-down(md) {
            margin-bottom: 10px;
          }
          @include media-breakpoint-down(xs) {
            padding: .5rem 2rem;
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}
.apply_now_1 {
  color: $white;
  position: relative;
  //background-image: url("../images/apply-now-2.webp");
  background-color: #0c5460;
  height: 210px;
  @include media-breakpoint-down(lg) {
    padding-top: 20px;
  }
  @include media-breakpoint-down(sm) {
    //background-image: url("../images/apply-now-2-mob.webp");
    height: 170px;
    padding-top: 0px;
  }

  &__container {
    &__msg {
      .you {
        margin-top:  9px;
      }
      &__qc{
        z-index: 2;
        @include media-breakpoint-down(xs) {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
      &__question {
        margin-bottom: 15px;
        .you {
          @include media-breakpoint-up(md) {
            font-size: 2.8rem;
          }
        }
        &__pre {
          @include media-breakpoint-up(md) {
            font-size: 2rem;
          }
        }
        &__post {
          @include media-breakpoint-up(md) {
            font-size: 2rem;
          }
        }
      }

      &__button {
        @include media-breakpoint-down(xs) {
          transform: translateX(-16%)
        }
        button {
          padding: .5rem 5rem;
          margin-left: 12rem;
          @include media-breakpoint-down(md) {
            margin-left: 0;
            margin-bottom: 20px;
          }
          @include media-breakpoint-down(xs) {
            padding: .5rem 2rem;
            margin-bottom: 0px;
          }
        }
      }
    }
    &__img {
      @include media-breakpoint-only(sm) {
        text-align: center;
      }
      @include media-breakpoint-down(lg) {
        position: absolute;
        right: -20px;
        bottom: 0px;
        padding: 0px;
        z-index: 1;
      }
      img {
        @include media-breakpoint-down(xs) {
          object-fit: contain;
        }
      }
    }
  }
}

.apply_now_2 {
  background-color: #CBD0D6;
  color: #8B0000;
  padding-top:5px;
  padding-bottom:5px;
  .apply_now_2__container {
    &__good {
      font-weight: bold;
      @include media-breakpoint-down(md) {
        margin-bottom: 10px;
      }
    }
    &__skills {
      &::before {
        content: '\f100';
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        font-family: 'Font Awesome 5 Free';
        position: absolute;
        top: 30%;
        left: -10px;
        color: #8B0000;
        @include media-breakpoint-down(sm) {
          left: 0px;
        }
      }
      &::after {
        content: '\f101';
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        font-family: 'Font Awesome 5 Free';
        position: absolute;
        top: 30%;
        right: -10px;
        color: #8B0000;
        @include media-breakpoint-down(sm) {
          right: 0px;
        }
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 10px;
      }
    }
    &__button {

      @include media-breakpoint-down(md) {
        text-align: center;
        margin-left: 0;
        width: 100%;
        margin-bottom: 10px;
      }
      button {
        height: 42px;
        width: 160px;
        background-color: rgba(75, 18, 27, 1);
        color: white;
        border-radius: 0px;
        @include media-breakpoint-down(sm) {
          width: 200px;
        }
        &:hover {
          background-color: #810304;
          color:white;
        }

      }
    }
  }
}