.apply_now, .apply_now_1, .apply_now_2 {
  background-color: #CBD0D6;
  color: #8B0000;
  height: $apply-now-height;
  font-family: "Open Sans", Cambria;
  @include media-breakpoint-down(md) {
    padding-top: 10px;
    height: $apply-now-height-mobile;
  }

  .container {
    height: 100%;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-content: center;

    &__img {
      text-align: center;
      flex-direction: column;
      height: 100%;
      @include media-breakpoint-down(md) {
        height: 50%;
      }

      img {
        height: 65%;
        object-fit: contain;
        @include media-breakpoint-down(md) {
          height: 90%;
        }
      }

      button {
        width: 170px;
        margin-left: 25px;
        @include media-breakpoint-down(md) {
          margin-left: 0px;
        }
      }
    }

    &__msg {
      height: 100%;
      text-align: center;
      @include media-breakpoint-down(md) {
        height: 50%;
      }

      img {
        height: 75%;
        object-fit: contain;
      }

    }
  }
}
.apply_now_1 {
  background-color: #B6BFC8;

  .apply_now__container {

    .apply_now__container__img {
      @include media-breakpoint-down(md) {
        margin-bottom: 30px;
      }
    }
  }
}
