a {
  color: white;
}

.img-custom {
  width: 100%;
}
.btn {
  height: 42px;
  width: 160px;
  background-color: #4b121b;
  color: white;
  border-radius: 0;
  @include media-breakpoint-down(xs) {
    width: 160px;
  }
  &:hover {
    background-color: $theme-main-secondary-color;
    color: white;
  }
}
.action-word {
  font-weight: bold;
}
.ready {
  font-weight: 700;
  color: #4B121B;
}
.fixedPosition
{
  position: fixed;
}
