.newsletter {
  background-color: #8B0000;
  opacity: 0.85;
  padding: 20px 0;
  color: $white;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 20%;
  transform: translateY(-100%);
  bottom: -55px;

  p {
    font-family: "Open Sans";
  }
  @include media-breakpoint-down(sm) {
    width: 50%;
  }
}
