.slider {
  .slide {
    position: relative;
    img {
      object-fit: cover;
      @include media-breakpoint-down(xs) {
        width: 100%;
        height: 200px;
      }
    }
    &__message {
      position: absolute;
      bottom: 0;
      left:0;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.7);
      width: 100%;
      height: 60px;
      @include media-breakpoint-down(xs) {
        height: 70px;
      }
      p {
        font: normal normal normal 14px/1.4em futura-lt-w01-light,sans-serif;
      }
    }
    &__button_container {
      position: absolute;
      right: 10%;
      top: 50%;
      button {
        display: none;
        color: white;
        width: 320px;
        height: 70px;
        background-color: rgba(75, 18, 27, 1);
        border-radius: 0px;
        @include media-breakpoint-down(xs) {
          width: 290px;
        }
        &:hover {
          background-color: #810304;
          color:white;
        }
      }
    }
    &:hover {
      button {
        display: block;
      }
    }
  }
}