$font-main: Arial,Helvetica,sans-serif;
$blue-gray: rgb(132, 151, 176);

$theme-main-color: black;
$theme-main-secondary-color: rgba(0, 0, 0, .8);

$nav-one-color: #C6231D;
$nav-one-sub-color: #990000;
$nav-two-color: #C6231D;
$nav-two-sub-color: #669900;
$nav-three-color: #C6231D;
$nav-three-sub-color: #44546A;

$apply-now-one-color: #ED7D31;

$padding-top-between-component: 30px;
$padding-bottom-between-component: 30px;